@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 overflow-x-hidden overflow-y-hidden;
}

* {
  @apply text-medium tracking-[-0.01em];
}

html {
  @apply font-[tt-commons-pro];
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

button {
  @apply cursor-pointer;
}

li {
  list-style-type: disc;
}

.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw); /* pull outward from centered container */
  margin-right: calc(50% - 50vw);
}

@layer base {
  :root {
    --color-gray-600: theme("colors.gray.600");
  }
}
