:root {
  --size-unit: 16; /* design body font size, no px */
  --size-container-ideal: 1440;
  --size-container-min: 992px;
  --size-container-max: 1920px;
  --size-container: clamp(
    var(--size-container-min),
    100vw,
    var(--size-container-max)
  );
  --size-font: calc(
    var(--size-container) / (var(--size-container-ideal) / var(--size-unit))
  );
}

/* hook the whole page into the system */
html {
  font-size: var(--size-font); /* 1rem now follows your scaling */
}

body {
  font-size: 1rem; /* Tailwind’s text-base will match this */
}

/* tablet */
@media screen and (max-width: 991px) {
  :root {
    --size-container-ideal: 834;
    --size-container-min: 768px;
    --size-container-max: 991px;
  }
}

/* mobile landscape */
@media screen and (max-width: 767px) {
  :root {
    --size-container-ideal: 550;
    --size-container-min: 480px;
    --size-container-max: 767px;
  }
}

/* mobile portrait */
@media screen and (max-width: 479px) {
  :root {
    --size-container-ideal: 390;
    --size-container-min: 320px;
    --size-container-max: 479px;
  }
}

/* responsive */
.max-w-container {
  @apply max-w-[var(--size-container)];
}

.px-page {
  @apply px-4 md:px-16;
}

.right-page {
  @apply right-4 md:right-16;
}

.translate-x-page {
  @apply translate-x-4 md:translate-x-16;
}
